* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.bg-color {
    height: 100vh;
    width: 100%;
    background-color: #00274cc4;
}

  /* nav style grabbed from w3 schools */
    
.topnav {
    background-color: #00274cc4;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Right aligned style */
  .topnav b {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav b:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00274cc4;
    color: white;
  }

  /* Tuffy Logo */
  .topnav a.logo {
    background-color: #00274cc4;
    background-image: url('tuffy-logo.png');
    background-position: center;
    background-size: cover;
  }

  /* Profile Image */
  .topnav b.img {
    background-color: #00274cc4;
    background-image: url('pfp.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

  /* Grid Container */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
  }
  .grid-container button {
    background-color:#be7c19;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    font-size: 16px;
  }
  .grid-container button:hover {
    background-color:#905805;
    color: #ffffff;
  }